
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background: -webkit-linear-gradient(110deg, rgb(174, 107, 255) 22%, rgba(165, 255, 247, 0) 22%), -webkit-linear-gradient(110deg, #FCFA51 77%, #ffc608 77%);
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
